\---
layout: default
\---

.home
  %header.home-hdr
    .container
      .home-hdr-left
        .home-hdr-logo
          %a.home-hdr-logo-link{href: "/", title: "Opedia"}
            %img{src: "/assets/media/opedia-logo@2x.png", alt: "Opedia", width: 202, height: 45}
        %p.home-hdr-tag
          Have an opinion on everything
        %p.home-hdr-description
          Together, we’re building the world's first comprehensive collection of opinions. Join the community and vote on the people, places and things you care about.
        .home-hdr-download
          %img{src: "/assets/media/coming-soon@2x.png", alt: "Download", width: 217, height: 63}
          / %a.home-hdr-logo-link{href: "http://opedia.io/download", title: "Download Opedia"}
          /   %img{src: "/assets/media/appstore-download@2x.png", alt: "Download", width: 217, height: 63}
      .home-hdr-right
        .home-hdr-screen
          %img{src: "/assets/media/hdr-screen@2x.png"}


